body{
    background-image: url("MACCA.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    font-family:"Times New Roman", Times, serif;
    font-size: 15px;
}
h2{
    color:rgb(149, 149, 192);
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color: brown;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100px;
}